*{
    margin: 0px;
    padding: 0px;
}
.button{
   
    margin-top: 20px;
}
    
    .hidden{
        margin:auto;
        padding: 20px;
    }
.card{

    width: 35%;
    margin: auto;
    height: 300px;
    text-align: center;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 4px 5px gray;
    background-color: yellow;
}
.container{
   margin: auto;
    width: 80%;
}
.content{
    align-content: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
    width:70%;
margin: auto;    


}

.child{
width: 100%;    

display: block;
margin: auto;
}
.header{
    width: 80%;
    margin:auto;

    text-align: center;
    display: flex;
    margin-bottom: 100px;
justify-content: space-between;
}
@media(min-width:320px ) and (max-width:500px){
    .content{
    display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-around;
      flex-wrap: nowrap;
      
}
.card{
margin-top: 15px;
width: 200px;
height: 60px;

}
.hidden{
    display: none;
    
}
.span-1{
    display: none;
}
}