.circle1{
    height: 200px;
    width: 200px;
    background-image:radial-gradient(yellow,red);
  display: flex;
  justify-content: center;
  align-items: center;  
 transition: all 1s ease-in-out;
}
.circle1:hover{
  /* transform: rotate(109deg); */
/* transform: skewX(30deg); */
transform: translateY(300px) rotate(360deg); 

}
.circle2{
  height: 200px;
  background-image:radial-gradient(blue,red) ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  transition: all 1s ease-in-out;
}
.circle2:hover{
  transform: translateY(200px);
}
  .container{
    display: flex;
    background-color: greenyellow;
    height: 500px;
    width: 400px;
    justify-content: center;
    align-items: center;

  }

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }